<div class="modal-body">
  <form name="detailForm" class="form-horizontal" role="form" novalidate>
    <!-- Name-->
    <div class="form-group">
      <label for="name" class="col-sm-3 control-label">Name : </label>

      <div class="col-sm-9">
        <input type="text" id="name" name="name" class="form-control" ng-model="values.name"/>
      </div>
    </div>
    <!--Range-->
    <div class="form-field form-group">
      <label for="range" class="col-sm-3 control-label">Model : </label>

      <div class="col-sm-9">
        <select required id="range" class="form-control"
                ng-options="range.name group by range.type for range in fields.ranges | orderBy:'range.type'  track by range.id"
                ng-model="values.range"
                ng-change="getSupportOptionsWhenProductChanges()"
                ng-init="fields.default"></select>
      </div>
    </div>

    <!-- Product properties-->
    <div class="form-field form-group" ng-class="{ 'has-error' : detailForm.field_{{ $index }}.$invalid }"
         ng-repeat="property in fields.properties">
      <label for="field_{{ $index }}" class="col-sm-3 control-label">{{ property }} : </label>

      <div class="col-sm-9">
        <input required id="field_{{ $index }}" name="field_{{ $index }}" class="form-control" type="number"
               ng-init="values.choosenCapacity[property] = values.range.initCapacity[property]"
               min="0"
               max="{{values.range.maxCapacity[property]}}"
               ng-model="values.choosenCapacity[property]"
        />
        {{ detailForm.field_$index.$error}}
        <span class="info-messages" ng-show="values.choosenCapacity[property] < values.range.initCapacity[property]">The model {{values.range.name}} has an initial capacity of {{values.range.initCapacity[property]}} {{property}}</span>
        <span class="error-messages" ng-show="detailForm.field_{{ $index }}.$error.required">Required field.</span>
        <span class="error-messages" ng-show="detailForm.field_{{ $index }}.$error.number">Please enter an Integer</span>
        <span class="error-messages" ng-show="detailForm.field_{{ $index }}.$error.min" >Invalid value</span>
        <span class="error-messages" ng-show="detailForm.field_{{ $index }}.$error.max">The model {{values.range.name}} 
        Can not support more than  {{values.range.maxCapacity[property]}} {{property}}</span>
      </div>
    </div>
    <!-- Support Options-->
    <div class="form-group">
      <label class="col-sm-3 control-label">Support options :</label>
      <div  class="col-sm-9" style="padding-top: 7px;">
        <label ng-repeat="option in fields.supportOptions" class="col-sm-6 clearfix" ng-class="{disabled: hasPrequisite(option.prerequisite) }" >
          <input type="checkbox" checklist-model="values.supportOptions" checklist-value="option" ng-disabled="hasPrequisite(option.prerequisite)" ng-change="uncheck(option, checked)"> {{option.name}}
        </label>
      </div>
    </div>
  </form>

  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok(detailForm)" ng-class="{disabled: !detailForm.$valid}">OK</button>
  </div>

</div>
